// TODO :- CUSTOM custom-container
.custom-container {
  width: 100%;
  @include breakpoint-down(sm) {
    // width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include breakpoint-up(sm) {
    margin-left: auto;
    margin-right: auto;
  }

  @include custom-breakpoint(sm, md) {
    max-width: 540px;
  }

  @include custom-breakpoint(md, lg) {
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include custom-breakpoint(lg, xl) {
    max-width: 960px;
  }

  @include custom-breakpoint(xl, xxl) {
    max-width: 1140px;
  }

  @include breakpoint-up(xxl) {
    max-width: 1320px;
    padding: 0px 20px;
  }
}

// TODO :- COMPONENT SPACING CLASSES
.margin-top {
  margin-top: 5rem;
}

.component-inner-gap {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
