.heading {
  @mixin headingStyles {
    font-weight: 500;
    word-spacing: 0px;
    letter-spacing: 0.6px;
  }

  &-1 {
    @include headingStyles();
    font-size: 2.5rem; //40px
    line-height: 48px;
  }

  &-2 {
    @include headingStyles();
    font-size: 1.75rem; //28px
    line-height: 36px;
  }

  &-3 {
    @include headingStyles();
    font-size: 1.5rem; //24px
    line-height: 28px;
  }

  &-4 {
    @include headingStyles();
    font-size: 1.25rem; //20px
    line-height: 24px;
  }
}

.subtitle {
  &-1 {
    font-size: 1rem;
    line-height: 28px;
  }

  &-2 {
    font-size: 0.875rem; //14px
    line-height: 24px;
  }

  &-3 {
    font-size: 0.75rem; //12px
    line-height: 18px;
  }
}

.caption-text {
  font-size: 0.875rem; //14px
  line-height: 21px;
  color: rgba(23, 26, 32, 0.6);
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
