:root {
  // colors
  --primary-300: #6f917b;
  --primary-200: #a9bdab;
  --primary-100: #fffff4;

  --secondary-400: #514641;
  --secondary-300: #645954;
  --secondary-200: #dbd3c7;
  --secondary-100: #e7e6dc;

  --gray-color: #bcbcb7;

  --light-color: var(--primary-100);
  --dark-color: var(--secondary-400);

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
}
